.header-container {
  height: 20px;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  background: none;
  border: none;
  background-color: transparent;
  text-decoration: underline;
}

.header-btn {
  background: none;
  border: none;
  background-color: transparent;
  text-decoration: underline;
}
